<section id="projetos">
  <h1>Projetos</h1>
  <div class="feitos">

    <div class="sites">
      <img src="../../assets/img/5.PNG" alt="">
      <a href="https://github.com/LFerreira0/Holistic.git" target="_blank">
        <div class="overlay">
          <h3 >Holistic</h3>
          <h5>Plataforma de estudos</h5>
          <p>https://github.com/LFerreira0/Holistic.git</p>
        </div>
      </a>
    </div>

    <div class="sites">
      <img src="../../assets/img/7.PNG" alt="">
      <a href="https://github.com/LFerreira0/MeBank.git" target="_blank">
        <div class="overlay">
          <h3>Mebank</h3>
          <h5>Banco particular</h5>
          <p>https://github.com/LFerreira0/MeBank.git</p>
        </div>
      </a>
    </div>

    <div class="sites">
      <img src="../../assets/img/6.PNG" alt="">
      <a href="https://github.com/LFerreira0/Estacionamento.git" target="_blank">
        <div class="overlay">
          <h3>Holistic park</h3>
          <h5>Estacionamento Holistic</h5>
          <p>https://github.com/LFerreira0/Estacionamento.git</p>
        </div>
      </a>
    </div>

    <div class="sites">
      <img src="../../assets/img/delicious.PNG" alt="">
      <a href="https://github.com/LFerreira0/Delicious-Fast-Food.git" target="_blank">
        <div class="overlay">
          <h3>Delicious</h3>
          <h5>Fast Food</h5>
          <p>https://github.com/LFerreira0/Delicious-Fast-Food.git</p>
        </div>
      </a>
    </div>

    <div class="sites">
      <img src="../../assets/img/wip.png" alt="">
        <div class="overlay">
          <p>Novidades em breve</p>
        </div>
    </div>
  </div>
</section>
