<header>
  <div class="logo">
    <img src="../../assets/img/brackets.png" alt="logo" height="50">
    <a href="#">LCF</a>

  </div>
  <nav [ngStyle]="estilo" id="estilo">
    <ul id="menu">
      <li><a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#projetos">Portifólio</a></li>
      <li><a href="#">Contatos</a></li>
    </ul>
  </nav>
  <button  id="btn-mobile" (click)="toggle()">Menu
    <span [ngStyle]="hamburguer" id="hamburguer"></span>
  </button>
</header>
