<footer>

  <div class="media">
    <div class="icon">
      <a href="https://codepen.io/LFerreira" target="_blank"><img src="../../assets/img/codepen.png" alt="CodePen"></a>
    </div>

    <div class="icon">
      <a href="https://github.com/LFerreira0" target="_blank"><img src="../../assets/img/github.png" alt="GitHub"></a>
    </div>

    <div class="icon">
      <a href="https://www.instagram.com/lucascandido.ferreira/" target="_blank"><img src="../../assets/img/instagram.png" alt="Instagrams"></a>
    </div>

    <div class="icon">
      <a href="https://www.linkedin.com/in/lcferreira98/" target="_blank"><img src="../../assets/img/linkedin.png" alt="LinkedIn"></a>
    </div>

  </div>

  <p>	LUCAS CANDIDO FERREIRA &copy; <span>2022</span></p>
</footer>
