<section id="contato">

  <div class="contato">
    <br><br><br>
    <h1>Contatos</h1>

    <section id="formulario">
      <h3>Tem alguma pergunta ou quer trabalhar comigo ?</h3>
      <br>

      <form>
        <input type="text" id="nome" name="nome" placeholder="Nome"><br>
        <input type="text" id="email" name="email" placeholder="Email"><br>
        <textarea name="" id="" placeholder="Insira sua mensagem"></textarea><br>
        <button>Enviar</button>
      </form>

      <div class="scroll">
          <a href="#"><img src="../../assets/img/up-arrow.png" alt=""></a>
      </div>

    </section>

  </div>

</section>
