<section id="contato">
  <div class="contato">
    <br><br><br>
    <h1>Contatos</h1>

    <section id="formulario">
      <h3>Tem alguma pergunta ou quer trabalhar comigo ?</h3>
      <br>

      <form action="https://formspree.io/f/mzboylar" method="POST">
        <input type="text" id="nome" name="nome" placeholder="Nome"><br>
        <input type="email" id="email" name="_replyto" placeholder="Email"><br>
        <textarea name="mensagem" id="" placeholder="Insira sua mensagem"></textarea><br>
        <button type="submit" value="Send">Enviar</button>
      </form>

      <div class="scroll">
          <a href="#"><img src="../../assets/img/up-arrow.png" alt=""></a>
      </div>
    </section>
  </div>
</section>
