<section id="sobre">
  <h1>Sobre</h1>

  <div class="beneficios">
    <div class="vantagem">
      <div class="imagem"><img loading="lazy" src="../../assets/img/speedometer.png" alt=""></div>
      <h1>Rápido</h1>
      <p>Sites focados em desempenho, minha maior prioridade.</p>
    </div>

    <div class="vantagem">
      <div class="imagem"><img loading="lazy" src="../../assets/img/responsive.png" alt=""></div>
      <h1>Responsivo</h1>
      <p>Meus layouts funcionarão em telas de todos os tamanhos.</p>
    </div>

    <div class="vantagem">
      <div class="imagem"><img loading="lazy" src="../../assets/img/bulb.png" alt=""></div>
      <h1>Intuitivo</h1>
      <p>Preferencia pela facilidade de uso utilizando UX/UI.</p>
    </div>

    <div class="vantagem">
      <div class="imagem"><img loading="lazy" src="../../assets/img/rocket .png" alt=""></div>
      <h1>Dinamico</h1>
      <p>Websites não precisam ser estáticos, podem ter vida.</p>
    </div>

  </div>

  <div class="detalhes">
    <div class="perfil">
      <img src="../../assets/img/profile_picture.jpg" alt="" height="250">
      <div class="content">
          <h1>Quem sou eu ?</h1>
          <p>Sou um desenvolvedor Front-End formado na univerdidade FIAP em São Paulo. Sou apaixonado por UX/UI, animações e criar experiências intuitivas e dinamicas para o usuário.</p>
        <a href="#contato"><span>Vamos fazer algo legal</span></a>
      </div>
    </div>

    <div class="conhecimentos">
      <div class="grafico">
        <div class="container">
          <div class="habilidade">
            HTML
          </div>
          <div class="porcentagem noventa"></div>
          90%
        </div>

        <div class="container">
          <div class="habilidade">
            CSS
          </div>
          <div class="porcentagem noventa"></div>
          90%
        </div>

        <div class="container">
          <div class="habilidade">
            JavaScript
          </div>
          <div class="porcentagem oitentaecinco"></div>
          85%
        </div>

        <div class="container">
          <div class="habilidade">
            Angular JS
          </div>
          <div class="porcentagem oitentaecinco"></div>
          85%
        </div>

        <div class="container">
          <div class="habilidade">
            Angular
          </div>
          <div class="porcentagem setentaecinco"></div>
          75%
        </div>

        <div class="container">
          <div class="habilidade">
            Node
          </div>
          <div class="porcentagem sessentaecinco"></div>
          65%
        </div>

        <div class="container">
          <div class="habilidade">
            Ui Design
          </div>
          <div class="porcentagem sessentaeoito"></div>
          70%
        </div>

        <div class="container">
          <div class="habilidade">
            Ux Design
          </div>
          <div class="porcentagem sessentaeoito"></div>
          70%
        </div>

        <div class="container">
          <div class="habilidade">
            Figma
          </div>
          <div class="porcentagem cinquenta"></div>
          65%
        </div>

        <div class="container">
          <div class="habilidade">
            Photoshop
          </div>
          <div class="porcentagem setenta"></div>
          80%
        </div>
      </div>
  </div>
</div>
</section>
