$verde_claro: #00bf8f;
$verde_escuro: #001510;
$dark: #121212;

*{
  background-color: transparent;
}

section{
  height: 100vh;
  width: 100%;
  margin-top: -9vh;
  background-color: $dark;

  h1{
    background-color: transparent;
    color: rgba(114, 114, 114, 0.9);
    text-align: center;    
  }

  .beneficios{
    width: 60%;
    height: 30vh;
    margin-top: 3em;
    background-color: transparent;

    .vantagem{
      float: left;
      height: 100%;
      color: #fff;
      text-align: center;
      font-weight: 100;
      width: 25%;

      h1{
        color: #fff;
        font-size: 18px;
        margin-top: 1em;
        background-color: transparent;
      }

      p{
        background-color: transparent;
      }

      .imagem:hover{
        animation: shake 2s;
        animation-iteration-count: infinite;
        cursor: pointer;
      }

      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }

      .imagem{
        height: 6em;
        width: 6em;
        margin-top: 2em;
        text-align: center;
        border-radius: 50px;
        background-color: transparent;

        img{
          margin-top: 1.5em;
          background-color: transparent;
          height: 3em;
        }
      }
    }
  }

  .detalhes{
    width: 60%;
    height: 50vh;    
    display: flex;        
    align-items: center;

    .perfil{      
      width: 50%;
      height: 100%;      
      text-align: center;        
      display: flex;
      align-items: center;
    }

    .content{
      
      background-color: transparent;
      text-align: center;
      width: 70%;
    }

    h1{
      color: #fff;      
      font-size: 22px;
      margin-top: 1em;
    }

    p{
      width: 80%;
      color: #fff;
      margin-top: 1em;
      font-weight: lighter;
    }

    a{
      text-decoration: none;
    }

    span{
      color: $verde_claro;
      cursor: pointer;
      font-weight: 500;
    }

    img{
      margin-top: 2em;
      border-radius: 50%;
    }

    .conhecimentos{
      width: 50%;
      height: 100%;
      float: left;

      .grafico{
        margin-top: 2.1em;
      }

      .container{
        width: 80%;
        height: 1.7em;
        background-color: #211e1e;
        margin-bottom: 1em;
        border-radius: 1px;
        color: #fff;
        text-align: right;
        font-weight: 450;
        line-height: 1.7em;

        .habilidade{
          width: 25%;
          background-color: $verde_claro;
          font-weight: bold;
          color: #fff;
          float: left;
          height: 100%;
          text-align: center;
          line-height: 1.7em;
        }

        .porcentagem{
          float: left;
          background: darken($verde_claro, 15%);
          height: 100%;
        }

        .noventa{
          width: 65%;
        }
        .cinquenta{
          width: 40%;
        }
        .oitentaecinco{
          width: 60%;
        }
        .setentaecinco{
          width: 50%;
        }
        .sessentaecinco{
          width: 40%;
        }
        .sessentaeoito{
          width: 45%;
        }
        .setenta{
          width: 55%;
        }
      }
    }
  }
}

@media(max-width: 1400px){
  section{
    height: 150vh;
    .beneficios{

      width: 95%;

      .vantagem{
        width: 50%;
      }
    }
    .detalhes{
      width: 95%;
      margin-top: 5em;


      img{
        height: 10em;
        width: 10em;
      }
    }
  }
}

@media(max-width: 900px){
  section{
    height: 250vh;
    .beneficios{
      width: 80%;
      .vantagem{
        width: 50%;
        height: 50vh;
      }
    }

    .detalhes{
      .perfil{
        width: 100%;
      }

      .conhecimentos{
        width: 95%;
        margin-top: 5em;
        .container{
          width: 100%;
          font-size: 13px;
        }
      }
    }
  }
}
