$verde_claro: #00bf8f;
$verde_escuro: #001510;

section {
  height: calc(103vh);
  width: 100%;
  display: flex;
  margin-top: 60px;
  z-index: -1;

  .conteudo{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    margin-top: 2vh;
    height: 20vh;
    margin-top: 35vh;
    background-color: transparent;

    h1, h2{
      font-weight: normal;
      background-color: transparent;
    }

    span{
      color: $verde_claro;
      background-color: transparent;
    }

    span:hover{
      cursor: pointer;
    }

    button{
      margin-top: 20px;
      border: 2px solid #fff;
      color: #fff;
      padding: 15px;
      font-weight: normal;
      font-size: 18px;
      border-radius: 5px;

      a{
        color: #fff;
        text-decoration: none;
        background-color: transparent;
      }

      img{
        margin-left: 5px;
        background-color: transparent;
      }
    }

    button:hover{
      background-color: $verde_claro;
      border: none;

      img{
        transform: rotate(90deg);
        transition: 0.6s ease-in-out;
      }
    }
  }
}

